@use '../../../scss/variables' as *;

.li {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        width: 100%;
        padding: 0.5rem 1.25rem;

        color: $clr--black;

        text-decoration: none;

        &:hover,
        &:active {
            color: $clr--danger;
            outline: none;

            text-decoration: underline;
        }

        border: 1px solid transparent;
        border-radius: 0.35rem;
    }
}